{%extends "partials/main-layout.html" %}
{%load i18n users_extras%}
{%block content%}

	{%user_allowed "edit_client" as allow_edit_client%}
	{%user_allowed "delete_client" as allow_delete_client%}
	{%user_allowed "create_client" as allow_create_client%}
	{%user_allowed "read_client" as allow_show_client%}



	<div class="container p-1" id="" style="">

		<div class="row">
			
			<div class="col-xl-7 mt-5 card">
				<div class="card-body">


					<div class="float-left">
						<form class="inline-form" method="get" action=".">
							<div class="row">
								<input class="form-control d-inline col-8 " name="q" type="text" value="{{request.GET.q}}"/>
								<button class="btn flat btn-primary col-3 offset-1" >{%trans "search"%}</button>
							</div>
						</form>
					</div>

					<div class="clearfix"></div>
					
					{%if orders%}
						
						<table id="all_orders" class="table table-hover text-center mt-3 table-hover" style="overflow:hidden">
							<thead class="bg-light">
								<tr>
									<th>#</th>
									<th>{%trans "client name"%}</th>
									<th>{%trans "created date"%}</th>
									<th>{%trans "price"%}</th>
									<th>{%trans "delivered"%}</th>
									<th>{%trans "actions"%}</th>
									
								</tr>
							</thead>
							
							
							<tbody>

								{%for o in orders%}
									
								<tr>
									<td>{{forloop.counter}}</td>
										<td>{{o.client.name}}</td>
									<td>{{o.created_date}}</td>
									
									{%for id, price in prices_list.items %} {%if id == o.id %}
									<td>{{price}}</td>
									{%endif%} {%endfor%}

									<td>
										{%if o.delivered == False%}
										<div class="badge badge-warning p-2">{%trans "not yet"%} <i class="fas fa-exclamation-circle"></i> </div> 
										{%else%}
										
										<div class="badge badge-success p-2"> {%trans "delivered"%} <i class="fas fa-check-circle"></i></div> 
										{%endif%}
									</td>									

									<td>
										
										<div class="d-flex">
											
											<a  data-id="{{o.id}}" href="javascript:(void)" class="get_products ">
												<button		
													class="btn flat btn-primary  m-1">
													<i class="fa fa-eye"></i>
													{%trans ""%}
												</button>
											</a>

											<a class="" href="/admin/order/edit/{{o.id}}" class="m-1">
												<button	{%if not allow_edit_client%} disabled {%endif%}
													class="btn flat btn-info m-1">
													<i class="fas fa-edit"></i>
													{%trans ""%}
												</button>
											</a>

											<button data-id="{{o.id}}"
													{%if not allow_delete_client%} disabled {%endif%}
													class="btn  flat btn-danger delete_order m-1 ">
												<i class="far fa-trash-alt"></i>
												{%trans ""%}

											</button>
											</div>
										</td>


									</tr>
								{%endfor%}
							</tbody>
						</table>
						
						{%include "partials/pagination.html" with model=orders%}

					{%else%}
						<p class="h1">{%trans "there is no records"%}</p>
					{%endif%}

				</div>
			</div>

			<div style="position:relative" class="col-xl-4 offset-xl-1 mt-5 card" >
				<div class="products_loading d-none  overlay"  >
					<i class="fas fa-4x fa-sync-alt fa-spin"></i>
				</div>
				<p class="h3 card-header">{%trans "order"%}</p>
				<div  id="order_products"></div>
			</div>


		</div>

		
	</div>


{%endblock content%}
