{%extends "partials/main-layout.html"%}
{%load i18n db_extras%}
{%block content%}
{%get_current_language as LANG%}

<div class="form-wrapper container" style=" padding: 1px">
	
	<div class="text-center bg-light rounded m-4 p-2">
		<p class="text-center h3">{%trans "create new order"%}</p>
	</div>

	<div class="row">

		<!-- categories -->
		<div id="categories" class="card col-xl-6" style="overflow:auto">
			
			<p class="h3 m-2">{%trans "categories"%}</p>
			
			{%for ct in categories_translation%}
			
			{%related_products ct.Category.id as related_prods%}

			{%if not related_prods.results.count == 0%}
			<div class="category card card-primary collapsed-card m-4">
				
				<div class="card-header">
					<h3 class="card-title">{{ct.name}}</h3>

					<div class="d-block card-tools ml-auto">
						<button type="button" class="btn btn-tool" data-card-widget="">
							<i class="fas fa-plus"></i>
						</button>
					</div>
				</div>
				
				<div class="card-body">
					<table class="table table-bordered" style="overflow:scroll">
						<thead class="bg-light">
							<th>{%trans "name"%}</th>
							<th>{%trans "available quantity"%}</th>
							<th>{%trans "sell price"%}</th>
							<th>{%trans "add"%}</th>
						</thead>
						<tbody>
							
					
					{%for i in related_prods.results%}
					<tr class="related_product" data-name="{{i.name}}" data-id="{{i.product.id}}" data-sell_price = "{{i.product.sell_price}}" data-quantity="{{i.product.available_quantity}}">
						<td>
							{{i.name}}
						</td>
						<td>{{i.product.available_quantity}}</td>
						<td>{{i.product.sell_price}}</td>
						<td>
							<button
								class="btn  btn-success add_product_to_order"
									   {%if i.product.available_quantity == 0 or i.product.available_quantity == None%} disabled {%endif%} >
								<i class="fa fa-plus"></i>
							</button>
						</td>
					</tr>
					{%endfor%}

					
						</tbody>
					</table>
					
				</div> <!-- end card body -->
			</div>
			{%endif%}
			
			{%endfor%}

			
		</div>

		<!-- orders -->
		<div class="col-xl-5 offset-xl-1">
			
			<div class="card p-2">
				<div class="card-header">{%trans "order"%}</div>

				<div class="card-body">
					<form id="order_form" action="" method="post">
						{%csrf_token%}
						<div class="orders">
							
							

						</div>	
					</form>
				</div>
				
			</div>
		</div>
	</div>
	
</div>



{%endblock content%}
