{%extends "partials/main-layout.html"%}
{%load i18n users_extras%}
{%block content%}

{%user_allowed "edit_client" as allow_edit_client%}
{%user_allowed "delete_client" as allow_delete_client%}
{%user_allowed "create_client" as allow_create_client%}
{%user_allowed "show_client" as allow_show_client%}

<div class="container  p-1 edit-user-container " style="padding: 1px">

	<div class="text-center mt-4 mb-4">
		<p class="h3">{%trans "client info"%}</p>
	</div>

	
	<div class="card card-primary">
		<div class="card-body">
			<div class="ml-auto avatar w-100">
				<div class="float-right">

					<a href="/admin/client/edit/{{client.id}}">
						<button {%if not allow_edit_client%} disabled {%endif%} class="btn btn-primary">
							<i class="fa fa-edit"> </i> {%trans "edit"%}
						</button>
					</a>

					<button
						{%if not allow_delete_client%} disabled {%endif%}
						data-id = "{{client.id}}"class="btn btn-danger delete_client">
						<i class="fa fa-trash-alt"> </i> {%trans "delete"%}
					</button>
				</div>
				
				<div class="clearfix"></div>

				<table class="mt-5 table table-secondary table-striped table-bordered text-center">

					<tr><td >{%trans "name"%} : </td> <td style="width:80%">{{client.name}}</td></tr>
					<tr><td>{%trans "address"%} : </td> <td>{{client.address}}</td></tr>
					
					<tr><td>{%trans "phone"%} : </td> <td>{{client.phone}}</td></tr>

					
				</table>
				
		
				
			</div>
		</div>
		
	</div>
	
</div>
{%endblock content%}
