{%extends "partials/main-layout.html"%}
{%load i18n users_extras db_extras string_extras%}
{%block content%}

{%user_allowed "edit_category" as allow_edit_category%}
{%user_allowed "delete_category" as allow_delete_category%}
{%user_allowed "create_category" as allow_create_category%}
{%user_allowed "show_category" as allow_show_category%}


<div class="form-wrapper container" style="padding: 1px">

	
	<div class="text-center mt-4 p-4">
		<div class="text-center h3">{%trans "edit order"%}</div>
	</div>
	


<nav aria-label="breadcrumb bg-transparent">
  <ol class="breadcrumb bg-transparent text-dark">
    <li class="breadcrumb-item"><a href="/admin/order">{%trans "orders"%}</a></li>
    <li class="breadcrumb-item" aria-current="page">{%trans "edit order"%}</li>
  </ol>
</nav>

<div class="row">

	<!-- categories -->
	
		<div id="categories" class="card col-xl-6" style="overflow:auto">
			
			<p class="h3 m-2">{%trans "categories"%}</p>
			
			{%for ct in categories_translation%}
			
			{%related_products ct.Category.id as related_prods%}

			{%if not related_prods.results.count == 0%}

			<div class="category card card-primary collapsed-card m-4">
				
				<div class="card-header">
					<h3 class="card-title">{{ct.name}}</h3>

					<div class="d-block card-tools ml-auto">
						<button type="button" class="btn btn-tool" data-card-widget="">
							<i class="fas fa-plus"></i>
						</button>
					</div>
				</div>
				
				<div class="card-body">
					<table class="table table-bordered" style="overflow:scroll">
						<thead class="bg-light">
							<th>{%trans "name"%}</th>
							<th>{%trans "available quantity"%}</th>
							<th>{%trans "sell price"%}</th>
							<th>{%trans "add"%}</th>
						</thead>
						<tbody>
							
					
					{%for i in related_prods.results%}

					
										
					<tr class="related_product" data-name="{{i.name}}" data-id="{{i.product.id}}" data-sell_price = "{{i.product.sell_price}}" data-quantity="{{i.product.available_quantity}}">
						<td>
							{{i.name}}
						</td>
						<td>{{i.product.available_quantity}}</td>
						<td>{{i.product.sell_price}}</td>
						<td>
							<button class="btn  btn-success add_product_to_order"
									{%if i.product.available_quantity == 0 or i.product.available_quantity == None%} disabled {%endif%} >

		
								<i class="fa fa-plus"></i>
							</button>
						</td>
					</tr>
					{%endfor%}

					
						</tbody>
					</table>
					
				</div> <!-- end card body -->
			</div>
			{%endif%}
			
			{%endfor%}

			
		</div>

		<!-- orders -->
		<div class="col-xl-5 offset-xl-1">
			
			<div class="card">
				<div class="card-header">{%trans "order"%}</div>

				<div class="card-body">
				<form id="order_form" action="" method="post">
					{%csrf_token%}
					<div class="orders">
						
						<div class="form-group">
							<label>{%trans "state"%} </label> :
							<select name="delivered" class="custom-select">
								
								<option {%if order.delivered !=  False %} selected {%endif%} value="delivered" >{%trans "delivered"%}</option>
								<option {%if order.delivered ==   False%} selected {%endif%} >{%trans "not delivered"%}</option>
								
							</select>
						</div>

						
						<table class='table table-bordered order_products'>
							<thead class="bg-light">
								<th>{%trans "name"%}</th>
								<th>{%trans "quantity"%}</th>
								<th>{%trans "sell price"%}</th>
								<th>{%trans "delete"%}</th>				 
							</thead>
							<tbody>

								{%for pt in products%}
								<tr data-id="{{pt.product.id}}" data-sell_price="{{pt.product.sell_price}}" >
									<input name="products[]" type="hidden" value="{{pt.product.id}}"/>
	
									<td>{{pt.name}}</td>

									{%for op in order.order_product_set.all %}
									{%if op.product_id == pt.product.id%}
									
									<td><input required class="form-control quantity_input" max="{{pt.product.available_quantity|add:op.quantity}}" name="quantities[]" type="number" min="1" value="{{op.quantity}}"/> </td>
									
									{%endif%}
									{%endfor%}

									<td>{{pt.product.sell_price}}</td>
									<td><button class="btn btn-danger delete_order_product"><i class="fa fa-trash"></i></button></td>


								</tr>
								{%endfor%}
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2">{%trans "price"%}</td>
									<td id="sum" colspan="2"></td>
								</tr>
							</tfoot>
						</table>
						<div class="form-group">

							
							<button class="btn btn-success  btn-block form-control"><i class="fa fa-edit"></i> {%trans "edit"%} </button>
						</div>
					</div>
			</div>
			
				</form>
				</div>
		</div>
		</div>
		</div>
	
	
</div>
{%endblock content%}
