{%load i18n%}
<table class="table  table-hover ">
	<thead class="bg-gradient-dark">
		<th>#</th>
		<th>{%trans "name"%}</th>
		<th>{%trans "sell price"%}</th>
		<th>{%trans "quantity"%}</th>
	</thead>
	<tbod>
		
		{%for p in order.product.all%}

			<tr>

				{%for pt in products%}

					{%if p.id == pt.product.id%}
						<td>{{forloop.counter}}</td>
						<td>{{pt.name}}</td>

						<td>{{pt.product.sell_price}}</td>

						{%for or_prod in order_products%}

							{%if or_prod.product_id == p.id%}

								<td>{{or_prod.quantity}}</td>

							{%endif%}

						{%endfor%}

					{%endif%}

								{%endfor%}
								
			</tr>
			
			{%endfor%}

	</tbod>
	<tfoot class="bg-gradient-secondary">
		<tr>
			<td colspan=2><p class="h2">{%trans "price"%}  </p></td>
			<td colspan=2><p class="h2">{{sum}}</p> </td>
		</tr>
	</tfoot>
</table>

