{%load i18n%}

<script>
 window.CSRF = "{{csrf_token}}";

 function confirm_delete(message, callback){
	 var n = new Noty({
		 text: message,
		 type:"warning",
		 theme: "light",
		 buttons: [
			 Noty.button('YES', 'btn btn-danger', function () {
				 callback()
			 }, {id: 'button1', 'data-status': 'ok'}),

			 Noty.button('NO', 'btn btn-error', function () {
				 n.close();
			 })
		 ]
	 });
	 n.show();
 }

 /////////////////////////////////////////////////////////////////////////////////
 
 (function delete_product_images(){
	 var images = [];
	 
	 $("img.detailed_product_image").on("click", function(){
		 image_name = $(this).data("name");

		 if (images.indexOf(image_name) == -1) {
			 images.push(image_name);
			 $(this).css({borderColor:  "red", borderWidth: 7, borderStyle: "solid"})
		 }else{
			 images.splice(images.indexOf(image_name), 1);
			 $(this).css("border", "none");
			 
		 }
	 }); //end on

	 $("div.detailed_product button#delete_selected_images").on("click", function(){
		 var $this = $(this);
		 confirm_delete("{%trans 'are you sure you want to delete those pictures?'%}", function(){
			 data = {
				 images: images
			 }
			 
			 $.ajax({
				 url: "/en/admin/product/delete_product_images/",
				 type: "POST",
				 data: data,
				 headers:{"X-CSRFToken": window.CSRF},
				 
				 success: function(data){
					 if (data.success == true) {
						 window.location.reload()
					 }
				 }
			 });
			 

		 });
	 }); 
 }());

 
 ////////////////////////////////////////////////////////////////////////////////////////

 
 (function delete_product(){
	 
	 $("button.delete_product").on("click", function(e){
		 var $this  = $(this);
		 confirm_delete("{%trans "are you sure you want to delete product?"%}", function() {
			 $.ajax({
				 type: "post",
				 headers: {"X-CSRFToken": window.CSRF },
				 url: "/en/admin/product/delete/" + $this.data("id") + "/",
				 success: function(data){
					 if(data.success == true){
						 var noty = new Noty({
							 
							 type: "success",
							 text: "<div> <i class='float-right fas fa-check-circle fa-lg'></i>" + data.message + "</div>",
							 timeout: 1500,
							
							 theme: "relax"

						 }).show()
						 setTimeout(function(){
							 window.location.href = "/admin/product/";
						 }, 1000)
					 }
				 }
			 }); //end ajax call

		 }); //end confirm

	 });
	 
 }());

 ///////////////////////////////////////////////////////////////////////////////////

 (function delete_category(){
	 
	 $("button.delete_category").on("click", function(e){
		 var $this = $(this);

		 confirm_delete("{%trans "are you sure you want to delete category?"%}", function(){
			 $.ajax({
				 type: "post",
				 headers: {"X-CSRFToken": window.CSRF },
				 url: "/en/admin/category/delete/" + $this.data("id") + "/",
				 success: function(data){
					 if(data.success == true){
						 var noty = new Noty({
							 
							 type: "success",
							 text: "<div> <i class='float-right fas fa-check-circle fa-lg'></i>" + data.message + "</div>",
							 timeout: 1500,
							 
							 theme: "relax"

						 }).show()
						 setTimeout(function(){
							 window.location.href = "/admin/category/";
						 }, 1000)
					 }
				 }
			 }); //end ajax call

		 }); //end confirm

	 });
	 
 }());

 (function delete_user(){
	 
	 $("button.delete_user").on("click", function(e){
		 var $this = $(this);
		 confirm_delete("{%trans "are you sure you want to delete this user?"%}", function(){
			 $.ajax({
				 type: "post",
				 headers: {"X-CSRFToken": window.CSRF },
				 url: "/en/admin/delete/" + $this.data("id"),
				 success: function(data){
					 if(data.success == true){
						 var noty = new Noty({
							 
							 type: "success",
							 text: "<div> <i class='float-right fas fa-check-circle fa-lg'></i>" + data.message + "</div>",
							 timeout: 1500,
							 theme: "relax"

						 }).show()
						 setTimeout(function(){
							 window.location.href = "/admin/";
						 }, 1000)
					 }else if(data.success == false){
						 var noty = new Noty({
							 
							 type: "error",
							 text: "<div> <i class='float-right fas fa-exclamation-circle fa-lg'></i>" + data.message + "</div>",
							 timeout: 1500,
							 
							 theme: "sunset"

						 }).show()
					 }
				 }
			 }); //end ajax call

		 }); //end confirm

	 });
	 
 }());


 //////////////////////////////////////////////////////////////////////////////////
 
 (function delete_client(){
	 
	 $("button.delete_client").on("click", function(e){
		 var $this = $(this);
		 confirm_delete("{%trans "are you sure you want to delete this client?"%}", function(){
			 
			 $.ajax({
				 type: "post",
				 headers: {"X-CSRFToken": window.CSRF },
				 url: "/en/admin/client/delete/" + $this.data("id") + "/",
				 success: function(data){
					 if(data.success == true){
						 var noty = new Noty({
							 
							 type: "success",
							 text: "<div> <i class='float-right fas fa-check-circle fa-lg'></i>" + data.message + "</div>",
							 timeout: 1500,
							 
							 theme: "relax"

						 }).show()
						 setTimeout(function(){
							 window.location.href = "/admin/client/";
						 }, 1000)
					 }
				 }
			 }); //end ajax call

			 
		 });


	 });
	 
 }());

 
 ////////////////////////////////////////////////////////////////////////////////////////
 

 (function delete_order(){
	 
	 $("button.delete_order").on("click", function(e){
		 var $this = $(this);
		 confirm_delete("{%trans "are you sure you want to delete this order?"%}", function(){
			 $.ajax({
				 type: "post",
				 headers: {"X-CSRFToken": window.CSRF },
				 url: "/en/admin/order/delete/" + $this.data("id") + "/",
				 success: function(data){
					 if(data.success == true){
						 var noty = new Noty({
							 
							 type: "success",
							 text: "<div> <i class='float-right fas fa-check-circle fa-lg'></i>" + data.message + "</div>",
							 timeout: 1500,
							 
							 theme: "relax"

						 }).show()
						 setTimeout(function(){
							 window.location.href = "/admin/order/all";
						 }, 1000)
					 }
				 }
			 }); //end ajax call

		 }) //end confirm

	 });
	 
 }());

 
</script>


