{%load i18n url_extras%}
<div class="pagination">

	{% if model.has_previous %}
		<li class="page-item">
			<a class="page-link" href="{%url_paginate 'q' page=model.previous_page_number%}">{%trans "previous"%}</a>
		</li>
	{%else%}
		<li class="page-item disabled">
			<a class="page-link" href="#">{%trans "previous"%}</a>
		</li>
	{% endif %}

	
	{%for p in model.paginator.page_range%}
		{%if p == model.number%}
			<li class="page-item active" ><a class="page-link" href="{%url_paginate 'q' page=p%}">{{p}}</a></li>
		{%else%}
			<li class="page-item" ><a class="page-link" href="{%url_paginate 'q' page=p%}">{{p}}</a></li>
		{%endif%}
	{%endfor%}
	
	{% if model.has_next %}
		<li class="page-item">
			<a class="page-link" href="{% url_paginate request 'q' page=model.next_page_number %}">{%trans "next"%}</a>

		</li>
	{%else%}
		<li class="page-item disabled">
			<a class="page-link" href="#">{%trans "next"%}</a>
		</li>
	{% endif %}
</span>
</div>

