{%load static i18n%}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-navy elevation-4">
	<!-- Brand Logo -->
	<a href="index3.html" class="brand-link">
		<!-- <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" -->
		<!-- 	 style="opacity: .8"> -->
		<span class="brand-text font-weight-light">SALES SAILS</span>
	</a>

	<!-- Sidebar -->
	<div class="sidebar ">
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<img src="/media/{{request.session.user_avatar}}" class="img-circle elevation-2" alt="User Image">
			</div>
			<div class="info">
				<a href="/admin/{{request.session.user_id}}" class="d-block">{{request.session.username}}</a>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<!--  icons to the links using the .nav-icon class -->

				<!-- start administrations -->
				<li class="nav-item has-treeview ">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-users"></i>
						<p>
							{%trans "administrators"%}
							<I class="right fas fa-angle-left"></i>
						</p>
					</a>

					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/admin/all" class="nav-link ">
								<i class="nav-icon fas fa-external-link-alt"></i>
								<p>{%trans "show all"%}</p>
							</a>
						</li>

						<li class="nav-item">
							<a href="/admin/create" class="nav-link">
								<i class="fas fa-plus nav-icon"></i>
								<p>{%trans "add"%}</p>
							</a>
						</li>
						
					</ul>
				</li>
				<!-- end administrations -->

				
				<!-- start categories -->
				<li class="nav-item has-treeview ">
					<a href="#" class="nav-link ">
						<i class="nav-icon fas fa-list"></i>
						<p>
							{%trans "categories"%}
							<I class="right fas fa-angle-left"></i>
						</p>
					</a>

					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/admin/category/all" class="nav-link ">
								<i class="nav-icon fa fa-external-link-alt"></i>
								<p>{%trans "show all"%}</p>
							</a>
						</li>

						<li class="nav-item">
							<a href="/admin/category/add" class="nav-link">
								<i class="fas fa-plus nav-icon"></i>
								<p>{%trans "add"%}</p>
							</a>
						</li>
						
					</ul>
				</li>
				<!-- end categories -->

				<!-- start products -->
				<li class="nav-item has-treeview ">
					<a href="#" class="nav-link ">
						<i class="nav-icon fas fa-list"></i>
						<p>
							{%trans "products"%}
							<I class="right fas fa-angle-left"></i>
						</p>
					</a>

					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/admin/product/all" class="nav-link ">
								<i class="nav-icon fa fa-external-link-alt"></i>
								<p>{%trans "show all"%}</p>
							</a>
						</li>

						<li class="nav-item">
							<a href="/admin/product/add" class="nav-link">
								<i class="fas fa-plus nav-icon"></i>
								<p>{%trans "add"%}</p>
							</a>
						</li>
						
					</ul>
				</li>
				<!-- end products -->



				<!-- start clients -->
				<li class="nav-item has-treeview ">
					<a href="#" class="nav-link ">
						<i class="nav-icon fas fa-list"></i>
						<p>
							{%trans "clients"%}
							<I class="right fas fa-angle-left"></i>
						</p>
					</a>

					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/admin/client/all" class="nav-link ">
								<i class="nav-icon fa fa-external-link-alt"></i>
								<p>{%trans "show all"%}</p>
							</a>
						</li>

						<li class="nav-item">
							<a href="/admin/client/add" class="nav-link">
								<i class="fas fa-plus nav-icon"></i>
								<p>{%trans "add"%}</p>
							</a>
						</li>
						
					</ul>
				</li>
				<!-- end clients -->


				<!-- start orders -->
				<li class="nav-item has-treeview ">
					<a href="#" class="nav-link ">
						<i class="nav-icon fas fa-list"></i>
						<p>
							{%trans "orders"%}
							<I class="right fas fa-angle-left"></i>
						</p>
					</a>

					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/admin/order/all" class="nav-link ">
								<i class="nav-icon fa fa-external-link-alt"></i>
								<p>{%trans "show all"%}</p>
							</a>
						</li>

						<!-- <li class="nav-item"> -->
						<!-- 	<a href="/admin/client/add" class="nav-link"> -->
						<!-- 		<i class="fas fa-plus nav-icon"></i> -->
						<!-- 		<p>{%trans "add"%}</p> -->
						<!-- 	</a> -->
						<!-- </li> -->
						
					</ul>
				</li>
				<!-- end orders -->


				
				<!-- start languages -->
				<li class="nav-item has-treeview ">
					<a href="#" class="nav-link ">
						<i class="nav-icon fa fa-globe"></i>
						<p>
							{%trans 'language'%}
							<I class="right fas fa-angle-left"></i>
						</p>
					</a>				
					<ul class="nav nav-treeview">
						
						<li class="nav-item">
							<a href="/commons/lang/ar" class="nav-link ">
								<i class="nav-icon fa fa-circle text-primary"></i>
								<p >{%trans "arabic"%}</p>
							</a>
						</li>

						<li class="nav-item">
							<a href="/commons/lang/en" class="nav-link">
								<i class="fas fa-circle nav-icon text-primary"></i>
								<p > {%trans "english"%}</p>
							</a>
						</li>
						
					</ul>
				</li>

				<!-- end languages -->
				
				
			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>
