{%extends "partials/main-layout.html"%}
{%load i18n users_extras %}
{%block content%}

{%user_allowed "edit_admin" as allow_edit_admin%}
{%user_allowed "delete_admin" as allow_delete_admin%}
{%user_allowed "create_admin" as allow_create_admin%}
{%user_allowed "show_admin" as allow_show_admin%}

<div class="container p-1" id="all_users" style="">
	<div class="mt-5 card">
		<div class="card-body table-responsive">

			<div class="mb-5 float-right">
				<a href="/admin/create"> <button {%if not allow_create_admin%} disabled{%endif%} class="btn btn-primary"><i class="fa fa-plus"> </i> {%trans "add"%}</button></a>
			</div>

			<div class="float-left">
				<form class="inline-form" method="get" action=".">
					<div class="row">
						<input class="form-control d-inline col-8 " name="q" type="text" value="{{request.GET.q}}"/>
						<button class="btn btn-primary col-3 offset-1" >{%trans "search"%}</button>
					</div>
				</form>
			</div>

			
			<div class="clearfix"></div>

			{%if users%}
			<table id="" class="table" style="overflow:hidden">
				<thead class="bg-primary">
					<tr>
						<th>{%trans "username"%}</th>
						<th>{% trans "fullname" %}</th>
						<th>{%trans "email"%}</th>
						<th>{%trans "avatar"%}</th>
						<th>{%trans "actions"%}</th>
					</tr>
				</thead>
				<tbody>
					{%for u in users%}
					<tr>
						<td>{{u.username}}</td>
						<td>{{u.fullname}}</td>
						<td>{{u.email}}</td>
						<td><div> <img style="width: 100px" class=" img-responsive img-thumbnail"alt="" src="/media/{{u.avatar}}"/></div></td>
						<td>

							<a href="/admin/{{u.id}}">
								<button
									data-user_id="{{u.id}}"
									class="btn btn-primary user_show">
									<i class="fa fa-eye"></i>
								</button>
							</a>
							
							<a href="/admin/edit/{{u.id}}">
								<button

									{% is_own_profile u.id as own_profile %}
																		
									{%if not allow_edit_admin and  not own_profile  %} disabled {%endif%}
									
									class="btn btn-info ">
									<i class="fas fa-edit"></i>
								</button>
							</a>

							
								<button data-id = {{u.id}}
										{%if not allow_delete_admin%} disabled {%endif%}

									class="btn btn-danger delete_user ">
									<i class="far fa-trash-alt"></i>
								</button>
							

							
						</td>
					</tr>
					{%endfor%}
				</tbody>
			</table>
			{%include "partials/pagination.html" with model=users%}
			{%else%}
			<p class="h1">{%trans "there is no records"%}</p>
			{%endif%}
		</div>
	</div>
</div>

<div id="show_user_modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header bg-primary">
				<div class="modal-title">User Info</div>
			</div>

			<div class="modal-body">				
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Save changes</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{%endblock content%}
