{%extends "partials/main-layout.html"%}
{%load i18n string_extras%}
{%block content%}
{%get_current_language as LANG%}

<div class="create-admin-form-wrapper container" style="width: 80%; padding: 1px">

	
	<div class="text-center mt-4">
		<div class="h2 text-center ">{%trans "create user"%}</div>
	</div>
	
	<div class="card mt-5">

		
		<div class="card-body">

				 {#%include "partials/form_error.html"%#}
			
		
			<form role="form" method="POST" action="" enctype="multipart/form-data">
				{%csrf_token%}

				
				<div class="form-group">
					<label for="username">{%trans "username"%}</label>
					<p class="h5 text-danger">{{form.username.errors.as_text}}</p>

					<input type="text" class="form-control" id="username" name="username" placeholder="">
				</div>

				<div class="form-group">
					<label for="full-username">{%trans "fullname"%}</label>
					<p class="h5 text-danger">{{form.fullname.errors.as_text}}</p>
										
					<input type="text" class="form-control" id="fullname" name="fullname" placeholder="">
				</div>
				
				<div class="form-group">
					<label for="email">{%trans "email"%}</label>
					<p class="h5 text-danger">{{form.email.errors.as_text}}</p>

					<input type="email" class="form-control" id="email" name="email" placeholder="">
				</div>

				
				
				<div class="form-group">
					<label for="password">{%trans "password"%}</label>
					<p class="h5 text-danger">{{form.password.errors.as_text}}</p>

					<input type="password" class="form-control" name="password" id="password" placeholder="">
				</div>

				
				<div class="form-group">
					<label for="confirm-password">{%trans "confirm password"%}</label>
					<p class="h5 text-danger">{{form.confirm_password.errors.as_text}}</p>
										
					 <input name="confirm_password" type="password" class="form-control" id="confirm-password" placeholder="">
					 </div>

				
					 <div class="form-group">
						 <label>{%trans "role"%}</label>
						 <select name="roles" class="custom-select">
							 {%for i in roles%}
							 {%if i.name != "super_admin"%}
							 <option>{{i.name}}</option>
							 {%endif%}
							 {%endfor%}
						 </select>
					 </div>

					 
					 <div class="form-group">
						 <label for="">{%trans "permissions"%}</label>

						 <div class="row">
							 
								 
								 {%for i in permissions%}
								 <div class="col-3">
								 <div class="custom-control custom-checkbox">
									 <input name = "permissions[]" class="custom-control-input" type="checkbox" id="ch{{i.id}}bx" value="{{i.id}}">
									 <label for="ch{{i.id}}bx" class="custom-control-label">
										 {%if LANG == "en" %}
										 {{i.name_en}}
										 {%else%}
										 {{i.name_ar}}
										 {%endif%}
									 </label>
								 </div>
								 </div>

								 {%endfor%}
								 
						 </div>
					 </div>
					 
					 <div class="form-group">
						 <label for="avatar">{%trans "avatar"%}</label>
						 <p class="h5 text-danger">{{form.avatar.errors.as_text}}</p>

						 <div class="input-group">
							 <div class="custom-file">
								 <input type="file" name= "avatar" class="custom-file-input" id="avatar">
								 <label class="custom-file-label" for="exampleInputFile">{%trans "choose image"%}</label>
							 </div>
						 </div> 
					 </div>


					<button type="submit" class="btn btn-primary float-right "><i class="fa fa-plus"> </i> {%trans "add"%}</button>
					<div class="clearfix"></div>
			</form>
		</div>
	</div>
</div>
{%endblock content%}
