{%extends "partials/main-layout.html"%}
{%load i18n users_extras%}
{%block content%}

{%user_allowed "edit_admin" as allow_edit_admin%}
{%user_allowed "delete_admin" as allow_delete_admin%}
{%user_allowed "create_admin" as allow_create_admin%}
{%user_allowed "show_admin" as allow_show_admin%}

<div class="container  p-1 edit-user-container " style="padding: 1px">

	<div class="text-center mt-3 mb-3">
		<p class="h3">{%trans "user info"%} </p>
	</div>
	
	<div class="card">

		<div class="card-body">
			
			<div class="ml-auto avatar w-100">
				<div class="float-right">

					<a href="/admin/edit/{{user.id}}">
						<button class="btn btn-primary" {%if not allow_edit_admin%} disabled{%endif%}>
							<i class="fa fa-edit"> </i>
							{%trans "edit"%}</button>
					</a>
					
					<button {%if not allow_delete_admin%} disabled {%endif%}   data-id= "{{user.id}}" class="btn btn-danger delete_user">
						<i class="fa fa-trash-alt"> </i>
						{%trans "delete"%}
					</button>

				</div>
				<div class="clearfix"></div>
				<img style="Width: 400px" class="d-block m-auto img-thumbnail" src="/media/{{user.avatar}}" alt="" />
				<p class="d-block h2 bold m-auto text-center">{{user.fullname}}</p>

				<table class="mt-5 table-secondary table-striped table text-center">

					<tr><td>{%trans "username"%}</td> <td>{{user.username}}</td></tr>
					<tr><td>{%trans "email"%}</td> <td>{{user.email}}</td></tr>

				</table>
				
				<div>
					<p> {%trans "permissions"%}:</p>
					<ul class="list-group list-group-flush">
						{%for permission in user.permission.all%}
						<li class="list-group-item text-primary ">
							{{forloop.counter}}- {{ permission.name}}
						</li>
						{%endfor%}
					</ul>
				</div>

				<div   class="mt-5">
					{%trans "role"%}: <p data-toggle="tooltip" data-placement="top" title="{{user.role.desc}}" class="h1">{{user.role.name}}</p>					
				</div>
				
			</div>
		</div>
		
	</div>
	
</div>
{%endblock content%}
