{%extends "partials/main-layout.html"%}
{%load i18n  users_extras%}
{%block content%}

{%user_allowed "delete_admin" as allow_delete_admin%}
{%user_allowed "edit_admin" as allow_edit_admin%}


{%get_current_language as LANG%}
{{form.errors}}

<div class="container p-1 edit-user-container " style="padding: 1px">

	<div class="row ng-scope">
		<div class="col-md-4">
			<div class="card">

				<div class="card-body text-center">
					<div class="pv-lg"><img class="center-block img-responsive img-circle img-thumbnail thumb96" src="/media/{{user.avatar}}" alt="Contact"></div>
					<p class="m0 h3 text-bold">{{user.fullname}}</p>
					<p class="h6">{{user.username}}</p>
					<p> role : {{user.role.name}}</p>
					<div class="mv-lg">
						
					</div>
					<button data-id ="{{user.id}}" {%if not allow_delete_admin %} disabled {%endif%} class="btn btn-danger delete_user">
						<i class="far fa-trash-alt "></i> {%trans "delete"%}</button>

				</div>
			</div>
			
		</div>
		<div class="col-md-8">

			<div class="card-header mt-3">
				<div class="h3 text-center">{%trans "edit user"%}</div>
			</div>

			
			<div class="card ">
				<div class="card-body">

					
					{#%include "partials/form_error.html"%#}

					<div class="row pv-lg">
						<div class="col-lg-2"></div>
						<div class="col-lg-8">
							<form role="form" method="POST" action="" enctype="multipart/form-data">
								{%csrf_token%}
								
	 							

								<div class="form-group">
									<label for="username">{%trans "username"%}</label>
									<p class="h5 text-danger">{{form.username.errors.as_text}}</p>

									<input type="text" class="form-control" id="username" name="username" placeholder="" value="{{user.username}}">
								</div>

								<div class="form-group">
									<label for="full-username">{%trans "fullname"%}</label>
									<p class="h5 text-danger">{{form.fullname.errors.as_text}}</p>

									<input type="text" class="form-control" id="fullname" name="fullname" placeholder="" value={{user.fullname}}>
								</div>
								
								<div class="form-group">
									<label for="username">{%trans "email"%}</label>
									<p class="h5 text-danger">{{form.email.errors.as_text}}</p>

									<input type="email" class="form-control" id="email" name="email" placeholder="" value="{{user.email}}">
								</div>

									
								<!-- <div class="form-group"> -->
								<!-- 	<label for="password">Old password</label> -->
								<!-- 	<input type="password" class="form-control" name="old_password" id="password" placeholder=""> -->
								<!-- </div> -->

								
								<div class="form-group">
									<label for="password">{%trans "password"%}</label>
									<p class="h5 text-danger">{{form.password.errors.as_text}}</p>

									<input type="password" class="form-control" name="password" id="password" placeholder="">
								</div>

								
								<div class="form-group">

									<label for="confirm-password">{%trans "confirm password"%}</label>
									<p class="h5 text-danger">{{form.confirm_password.errors.as_text}}</p>

									<input name="confirm_password" type="password" class="form-control" id="confirm-password" placeholder="">
								</div>

								{%if allow_edit_admin%}
								<div class="form-group">
									<label>{%trans "role"%}</label>
									<select name="roles" class="custom-select">
										{%for i in roles%}
										{%if i.name == user.role.name %}

										<option selected>{{i.name}}</option>
										
										
										{%else%}
										<option>{{i.name}}</option>

										{%endif%}
										
										{%endfor%}
									</select>
								</div>

								<div class="form-group">
									{%for i in permissions%}

									<div class="custom-control custom-checkbox">
										
										{%if i.name in user_permission_array %}

										<input checked name= "permissions[]" class="custom-control-input" type="checkbox" id="ch{{i.id}}bx" value="{{i.id}}">

										{%else%}

										<input  name = "permissions[]" class="custom-control-input" type="checkbox" id="ch{{i.id}}bx" value="{{i.id}}">

										{%endif%}
										
										<label for="ch{{i.id}}bx" class="custom-control-label">
											{%if LANG == "en" %}
											{{i.name_en}}
											{%else%}
											{{i.name_ar}}
											{%endif%}
										</label>

									</div>
									
									{%endfor%}
								</div>

								{%endif%} <!-- end allow_edit_admin --> 
								<div class="form-group">
									<label for="avatar">{%trans "avatar"%}</label>
									<div class="input-group">
										<div class="custom-file">
											<input type="file" name= "avatar" class="custom-file-input" id="avatar">
											<label class="custom-file-label" for="exampleInputFile">{%trans "choose image"%}</label>
										</div>
									</div> 
								</div>


								<div class="card-footer">
									<button type="submit" class="btn btn-primary"><i class="fa fa-edit"> </i> {%trans "edit"%}</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock content%}
