{%extends "partials/main-layout.html" %}
{%load i18n users_extras%}
{%block content%}

{%user_allowed "edit_client" as allow_edit_client%}
{%user_allowed "delete_client" as allow_delete_client%}
{%user_allowed "create_client" as allow_create_client%}
{%user_allowed "read_client" as allow_show_client%}



<div class="container p-1" id="all_users" style="">
	<div class="mt-5 card">
		<div class="card-body">

			<div class="mb-5 float-right">
				<a href="/admin/client/add">
					<button {%if not allow_create_client%} disabled {%endif%} class="btn btn-primary">
						<i class="fa fa-plus"> </i> {%trans "add"%}</button>
				</a>
			</div>

			<div class="float-left">
				<form class="inline-form" method="get" action=".">
					<div class="row">
						<input class="form-control d-inline col-8 " name="q" type="text" value="{{request.GET.q}}"/>
						<button class="btn btn-primary col-3 offset-1" >{%trans "search"%}</button>
					</div>
				</form>
			</div>

			<div class="clearfix"></div>

			{%if clients%}
			<table id="all_clients" class="table text-center table-hover" style="overflow:hidden">
				<thead class="bg-light">
					<tr>
						<th>{%trans "name"%}</th>
						<th>{%trans "address"%}</th>
						<th>{%trans "phone"%}</th>
						<th>{%trans "actions"%}</th>
					</tr>
				</thead>
				
				
				<tbody>

					{%for c in clients%}
					
					<tr>
						<td>{{c.name}}</td>
						<td>{{c.address}}</td>
						<td>{{c.phone}}</td>
						<td>			
							<a href="/admin/client/{{c.id}}/orders/add">
								<button
									data-user_id="{{u.id}}"
									class="btn btn-success">
									{%trans "add order"%} 
									<i class="fa fa-plus"></i>
								</button>
							</a>

							<a href="/admin/client/{{c.id}}">
								<button
									data-user_id="{{u.id}}"
												  class="btn btn-primary user_show">
									<i class="fa fa-eye"></i>
								</button>
							</a>

							<a href="/admin/client/edit/{{c.id}}">
								<button	{%if not allow_edit_client%} disabled {%endif%}

									class="btn btn-info ">
									<i class="fas fa-edit"></i>
								</button>
							</a>

							<button data-id="{{c.id}}"
											 {%if not allow_delete_client%} disabled {%endif%}
											 class="btn btn-danger delete_client ">
								<i class="far fa-trash-alt"></i>
							</button>
				
						</td>


					</tr>
					{%endfor%}
				</tbody>
			</table>

			{%include "partials/pagination.html" with model=clients%}

			{%else%}
			<p class="h1">{%trans "there is no records"%}</p>
			{%endif%}

		</div>
	</div>
</div>


{%endblock content%}
