{%extends "partials/main-layout.html"%}
{%load i18n%}
{%block content%}


<div class="form-wrapper container" style="width: 80%; padding: 1px">

			
		<div class="text-center mt-4">
			<div class="text-center h3">{%trans "edit category"%}</div>
		</div>
	
	<div class="card  card-primary mt-5">

		
		<div class="card-body">



				 {#%include "partials/form_error.html"%#}
			
		
			<form role="form" method="POST" action="" enctype="multipart/form-data">
				{%csrf_token%}
				
	 		
					<div class="form-group">
					<label for="name"> {% trans "category name in english"  %} : </label>
					<p class="h5 text-danger">{{form.name.errors.as_text}}</p>
					<input type="text" class="form-control" id="name" name="name" placeholder="" value="{{category_en.name}}">
				</div>

				
				<div class="form-group">
					<p class="h5 text-danger">{{form.name_ar.errors.as_text}}</p>

					<label for="name"> {% trans "category name in arabic" %} : </label>
					<input type="text" class="form-control" id="name" name="name_ar" placeholder="" value="{{category_ar.name}}"  >
				</div>

				
				<div class="form-group">
					<p class="h5 text-danger">{{form.desc.errors.as_text}}</p>

					<label for="full-username">{%trans 'category description in english'%} : </label>
					<textarea type="text" class="form-control" id="desc" name="desc" placeholder="">{{category_en.desc}}</textarea>
				</div>
				
				<div class="form-group">
					<p class="h5 text-danger">{{form.desc_ar.errors.as_text}}</p>

					<label for="full-username">{%trans 'category description in arabic'%} : </label>
					<textarea type="text" class="form-control" id="desc" name="desc_ar" placeholder="">{{category_ar.desc}}</textarea>
				</div>
				
				
				<div class="form-group">
					<p class="h5 text-danger">{{form.desc_image.errors.as_text}}</p>

					<label for="desc_image">{%trans "description image"%}</label>
					<div class="input-group">
						<div class="custom-file">
							<input type="file" name= "desc_image" class="custom-file-input" id="desc_image">
							<label class="custom-file-label" for="exampleInputFile">{%trans "choose image"%}</label>
						</div>
					</div> 
				</div>


					<button type="submit" class="btn btn-primary float-right"><i class="fa fa-plus"></i> {%trans "edit"%}</button>
			</form>
		</div>
	</div>
</div>
{%endblock content%}
